---
layout: default
nav-item-active: projects
title: My Projects
---
<div class="jumbotron jumbotron-fluid jumbotron-header"
     style="background-image: url(/assets/images/projets-website-header-image-gray.png);">
    <div class="container text-white">
        <h1>My most starred GitHub Project</h1>
    </div>
</div>

<div class="container">
{% for item in site.data.projects-github.data %}

{% assign mod = forloop.index0 | modulo: 2 %}

{% if mod == 0 %}
    <div class="row mt-3">
{% endif %}

{% if forloop.last != true %}
        <div class="col-md-6 pb-4">
{% else %}
        <div class="col-md-6">
{% endif %}

            <h3 class="text-center pt-2">
{% if item.icon %}
                <i class="{{ item.icon }}"></i>
{% endif %}
                <span>{{ item.project }}</span>
            </h3>

            <h5 class="text-center text-secondary pt-2 pb-4">{{ item.description }}</h5>

{% if item.image %}
            <div class="text-center pb-3">
                <img src="{{ item.image }}"
                     class="figure-img img-fluid image-header rounded">
            </div>
{% endif %}

{% if item.long-description %}
            {{ item.long-description }}
{% endif %}
            <ul class="list-unstyled pt-4">
                <li>
                    <i class="fas fa-fw fa-language text-secondary small" aria-hidden="true"></i>
                    <span class="text-secondary ml-1">Language: {{ item.main-language }}</span>
                </li>
                <li>
                    <i class="fa fa-fw fa-github text-secondary small" aria-hidden="true"></i>
                    <a href="{{ item.url }}" class="text-secondary ml-1">Project URL</a>
                </li>
                <li>
                    <i class="fa fa-fw fa-gavel text-secondary small" aria-hidden="true"></i>
                    <span class="text-secondary ml-1">{{ item.license }}</span>
                </li>
            </ul>
        </div>

{% if mod == 1 %}
    </div>
{% endif %}

{% endfor %}
</div>
