---
layout: default
nav-item-active: projects
title: My Projects
---

<div class="jumbotron jumbotron-fluid bg-info img-fluid text-white">
    <h2 class="text-center text-uppercase pb-1">My most starred GitHub Projects</h2>
</div>


<div class="container">
{% for item in site.data.projects-github.data %}

{% assign mod = forloop.index0 | modulo: 2 %}

{% if mod == 0 %}
    <div class="row mt-3">
{% endif %}

{% if mod == 0 %}
        <div class="col-md-6"
             style="padding-right:20px; border-right: 1px solid #ccc;">
{% else %}
        <div class="col-md-6">
{% endif %}
            <h4 class="text-center pt-2">
                <span>{{ item.project }}</span>
            </h4>

            <h5 class="text-center text-secondary pt-2 pb-4">{{ item.description }}</h5>

{% if item.image %}
            <div class="text-center py-4">
                <img src="{{ item.image }}"
                     class="figure-img img-fluid image-header rounded shadow">
            </div>
{% endif %}

{% if item.long-description %}
            {{ item.long-description }}
{% endif %}
            <ul class="list-unstyled pt-4">
                <li>
                    <i class="fas fa-fw fa-language text-secondary small" aria-hidden="true"></i>
                    <span class="text-secondary ml-1">Language: {{ item.main-language }}</span>
                </li>
                <li>
                    <i class="fa fa-fw fa-github text-secondary small" aria-hidden="true"></i>
                    <a href="{{ item.url }}" class="text-secondary ml-1">Project URL</a>
                </li>
                <li>
                    <i class="fa fa-fw fa-gavel text-secondary small" aria-hidden="true"></i>
                    <span class="text-secondary ml-1">{{ item.license }}</span>
                </li>
            </ul>
        </div>

{% if mod == 1 %}
    </div>
{% endif %}

{% if forloop.last != true %}
    <hr class="pb-2">
{% endif %}

{% endfor %}
</div>
