---
layout: default
permalink: /blog/categories/
title: Blog Posts by Category
---
<div class="jumbotron jumbotron-fluid jumbotron-header"
     style="background-image: url(/assets/images/blog-categories-header-image-gray.png);">
    <div class="container text-white">
        <h1>Blog Posts by Category</h1>
    </div>
</div>

<div class="container">
   <div class="row pb-4">
{% assign sorted_cats = site.categories | sort %}
{% for category in sorted_cats %}
   <div class="col-md-12 pt-4">
      {% capture category_name %}{{ category | first }}{% endcapture %}
      <div>
         <a href="#{{ category_name }}"><h2 class="text-capitalize pt-3">{{ category_name | replace: "-", " " }}</h2></a>
      </div>
      <hr>
      <div class="container">
         <ul class="list-group">
            {% for post in site.categories[category_name] %}
	    <li>
               <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
	       <small class="text-secondary ml-1"> - {{ post.date | date: "%Y-%m-%d" }}</small>
            </li>
            {% endfor %}
         </ul>
      </div>
   </div>
{% endfor %}
</div>
</div>
