{%- case include.post_language %}
{%- when "it" %}
{%-    assign y = include.post_date | date: "%-Y" %}
{%-    assign m = include.post_date | date: "%-m" | minus: 1 %}
{%-    assign d = include.post_date | date: "%-d" %}
{%-    assign months = "Gennaio|Febbraio|Marzo|Aprile|Maggio|Giugno|Luglio|Agosto|Settembre|Ottobre|Novembre|Dicembre" | split: "|" %}
{%-    capture date_txt %}{{ d }} {{ months[m] }} {{ y }}{% endcapture %}
{%- else %}
{%-   assign date_txt = include.post_date | date_to_long_string: "ordinal" %}
{%- endcase %}

{%- if include.textsize == 'small' %}
<small>{{ date_txt }}</small>
{%- else %}
<span>{{ date_txt }}</span>
{%- endif %}
