{%- if include.post_language == "it" -%}
{%-     assign text = "licenza " -%}
{%- else -%}
{%-     assign text = "license " -%}
{%- endif -%}
{%- if include.post_license == "CC BY-SA 3.0" -%}
{%-     assign license_url = "https://creativecommons.org/licenses/by-sa/3.0/" -%}
{%- endif -%}
<span class="{{ include.text_class }}">{{ text }}</span>
<a href="{{ license_url }}"><span class="{{ include.text_class }}">{{ include.post_license }}{{ tag_close }}<span></a><span class="{{ include.text_class }}">{% if include.comma %},{% endif %} </span>
