        <!--  Essential META Tags -->
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:description" content="{{ page.summary }}">
        <meta property="og:image" content="{{ site.url | append: page.image }}">
        <meta property="og:url" content="{{ site.url }}">
        <meta name="twitter:card" content="summary_large_image">
        <!--  Non-Essential, But Recommended -->
        <meta property="og:site_name" content="Davide Madrisan's Blog">
{%- if page.image_alt %}
        <meta name="twitter:image:alt" content="{{ page.image_alt }}">
{%- endif %}
