            <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
                <a class="navbar-brand ms-2" href="#">
{%- if page.layout == "post" %}
                    Davide Madrisan's Blog
{%- else %}
                    {{ page.title }}
{%- endif %}
                </a>
                <button class="navbar-toggler me-2" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ms-2">
{%- if page.nav-item-active == "home" %}
                        <li class="nav-item active">
{%- else %}
                        <li class="nav-item">
{%- endif %}
                            <a class="nav-link" href="/">HOME</a>
                        </li>
{%- if page.nav-item-active == "about" %}
                        <li class="nav-item active">
{%- else %}
                        <li class="nav-item">
{%- endif %}
                            <a class="nav-link" href="/about">ABOUT</a>
                        </li>
{%- if page.nav-item-active == "blog" or page.layout == "post" %}
                        <li class="nav-item active">
{%- else %}
                        <li class="nav-item">
{%- endif %}
                            <a class="nav-link" href="/blog">BLOG</a>
                        </li>
{%- if page.nav-item-active == "projects" %}
                        <li class="nav-item active">
{%- else %}
                        <li class="nav-item">
{%- endif %}
                            <a class="nav-link" href="/projects">PROJECTS</a>
                        </li>
                    </ul>
                </div>
            </nav>
