<div class="row justify-content-md-center position-relative mt-4 mb-2">
    <div class="col-md-8">
        <span class="d-flex justify-content-left text-muted pb-3">
            <!--
            {% if post.language %}
            <span class="f16 pr-1">
                <span class="flag {{ post.language }}"></span>
            </span>
            {% endif %}
            -->
            {% include datelocales.html post_date=post.date post_language=post.language textsize="small" %}
            <i class="bi bi-dot mx-1"></i>
            {% include readtime.html post_content=post.content post_language=post.language textsize="small" %}
        </span>
        <h1 class="text-left">{{ post.title }}</h1>

{% if post.image %}
        <figure class="figure pt-3">
	    <img src="{{ post.image }}" class="figure-img img-fluid" alt="post image">
        </figure>
{% endif %}

{% if post.summary %}
        <p class="card-text pt-4">{{ post.summary }}</p>
{% endif %}
{% if post.first-post %}
        <div class="align-items-md-end d-flex justify-content-left pt-1">
{% else %}
        <div class="align-items-md-end d-flex justify-content-left pt-1 pb-2">
{% endif %}
            <a href="{{ post.url }}" title="{{ post.title }}"
               class="btn btn-outline-secondary btn-sm stretched-link" role="button">
                <i class="fas fa-anchor"></i>
{% if post.language == "it" %}
                <span>Leggi di più</span>
{% else %}
                <span class="text-capitalize">Read more</span>
{% endif %}
            </a>
        </div>
    </div>
</div>

{% if post.first-post != true %}
<hr>
{% endif %}
