{%- assign stripchars =
       include.blog_content | strip_html | strip_newlines | remove: " " | size %}
{%- if stripchars < 1000 %}
{%-     assign time = 1 %}
{%- else %}
{%-     assign time = stripchars | divided_by: 1000 %}
{%- endif %}

{%- comment %}
   An alternative method can be:
     {% assign words = content | number_of_words %}
     {% assign time = stripchars | divided_by: 180 %}
{%- endcomment %}

{%- if include.blog_language == "it" %}
{%-     assign time_txt = "min. di lettura" %}
{%- else %}
{%-     if time > 1 %}
{%-         assign time_txt = "mins read" %}
{%-     else %}
{%-         assign time_txt = "min read" %}
{%-     endif %}
{%- endif %}
<span>{{ time }} {{ time_txt }}</span>
