a.posts {
    font-size: 2em;
}

.fa-rss-color {
    color: #ff8f10;
}

.jumbotron-blog {
    background-position: 0 50%;
    background-size: cover;
    height: 200px;
}

.jumbotron-blog-entry {
    display: flex;
    justify-content: center;
    align-items: center;
}
