a.posts {
    font-size: 2em;
}

.fa-rss-color {
    color: #ff8f10;
}

.jumbotron-blog {
    background-position: 0 50%;
    background-size: cover;
    height: 200px;
}

.jumbotron-blog-entry {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* highcharts */

.highcharts-figure {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

#container-highcharts {
    height: 420px;
}
