@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

body {
  font-family: "Garamond", 'Baskerville', 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

* {
  font-size: 16px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}

.header-2 {
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 20px;
    color: green;
}

.navbar-brand {
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-weight: normal;
}
