@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
  font-family: "Garamond", 'Baskerville', 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

* {
  font-size: 16px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}

.header-2 {
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 20px;
    color: green;
}

.main-jumbotron {
    background: url("/images/main-mountains.jpg");
    background-position: 20 70%;
    background-size: cover;
    font-family: 'Permanent Marker';
    height: 400pt;
    max-width: 100%;
}

.navbar-brand {
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-weight: normal;
}
