---
layout: default
nav-item-active: blog
title: Davide Madrisan's Blog
---
<div class="jumbotron jumbotron-fluid jumbotron-blog align-items-center img-fluid"
     style="background-image: url({{  site.images.blog.default }});">
    <h1 class="text-center">Recent Posts</h1>
    <h5 class="text-center text-secondary">Articles about science and technology</h5>
</div>

<div class="container">
    {% for post in site.posts %}
    <div class="row ml-2 mt-2">
        <span class="border-left">
            <div class="col">
                <blockquote class="blockquote">
                    <p class="mb-0">
                        {% if post.language %}
                        <span class="badge badge-light font-weight-light text-lowercase text-secondary">{{ post.language }}</span>
                        {% endif %}
                        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                    </p>
                    <footer class="ml-4 blockquote-footer">
                        {{ post.date | date_to_string }},
                        {% include readtime.html blog_content=post.content blog_language=post.language %}
                    </footer>
                    {% if post.summary %}
                    <p class="pt-2">{{ post.summary }}</p>
                    {% endif %}
                </blockquote>
            </div>
        </span>
    </div>
    {% endfor %}
</div>
