---
layout: default
title: Davide Madrisan's Blog
---

<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
    <a class="navbar-brand text-capitalize" href="#">{{ page.title }}</a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">ABOUT</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/blog">BLOG</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid jumbotron-blog align-items-center img-fluid">
    <h1 class="text-center">Recent Posts</h1>
    <h5 class="text-center text-secondary">Articles about science and technology</h5>
</div>

<div class="container">
    {% for post in site.posts %}
    <div class="row ml-2 mt-2">
        <span class="border-left">
            <div class="col">
                <blockquote class="blockquote">
                    <p class="mb-0">
                        {% if post.language %}
                        <span class="badge badge-light font-weight-light text-lowercase text-secondary">{{ post.language }}</span>
                        {% endif %}
                        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                    </p>
                    <footer class="ml-4 blockquote-footer"><small>{{ post.date | date_to_string }}</small></footer>
                    {% if post.summary %}
                    <p class="pt-2">{{ post.summary }}</p>
                    {% endif %}
                </blockquote>
            </div>
        </span>
    </div>
    {% endfor %}
</div>
