---
layout: default
nav-item-active: blog
title: Davide Madrisan's Blog
---
<div class="jumbotron jumbotron-fluid jumbotron-header"
    style="background-image: url(/assets/images/blog-website-header-image-gray.png);">
    <div class="container text-white">
        <h1>Posts about Science and Technology</h1>
    </div>
</div>

<div class="container pt-4">
    <div class="row pb-1">
        <div class="col">
            <span class="border">
                <i class="fa fa-rss-square fa-rss-color ml-1" aria-hidden="true"></i>
                <span class="ml-1 mr-1 text-secondary">
                    <small>https://madrisan.github.io/blog/atom.xml</small>
                </span>
            </span>
        </div>
    </div>
</div>

<div class="container pt-3 pb-3">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs nav-fill card-header-tabs" id="tabs" role="tablist">
                <li class="nav-item">
                     <a class="nav-link active" id="science-tab" href="#science" data-bs-toggle="tab"
                        aria-controls="science" aria-selected="true">Science</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="projects-tab" href="#projects" data-bs-toggle="tab"
                       aria-controls="projects" aria-selected="false">Technology</a>
                </li>
            </ul>
        </div>

        <div class="card-body">
            <div class="tab-content mt-1">
                <div class="tab-pane fade show active" id="science" aria-labelledby="science-tab">
{% for post in site.posts %}
{% if post.category == "climate-changes" %}
{% include post-preview.html %}
{% endif %}
{% endfor %}
                </div>

                <div class="tab-pane fade" id="projects" aria-labelledby="projects-tab">
{% for post in site.posts %}
{% if post.category == "projects" %}
{% include post-preview.html %}
{% endif %}
{% endfor %}
                </div>
           </div>
       </div>

   </div>
</div>
