---
title: 404
show_title: false
---
{%- assign _sources = site.sources %}
<!doctype html>

<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="{{ site.images.favicon }}">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ _sources.bootstrap.css.href }}" integrity="{{ _sources.bootstrap.css.integrity }}" crossorigin="anonymous">
        <!-- Latest compiled JavaScript -->
        <script src="{{ _sources.bootstrap.js.href }}" integrity="{{ _sources.bootstrap.js.integrity }}" crossorigin="anonymous"></script>
        <!-- Font Awsome -->
        <script src="{{ _sources.fontawesome }}"></script>
{%- if site.google_analytics %}
        {% include analytics-google.html %}
{%- endif %}
        <!-- Bootstrap icons -->
        <link rel="stylesheet" href="{{ _sources.bootstrap.icons.href }}">
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-social.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/social.css">
    </head>

    <body>
        <wrapper class="d-flex flex-column">
            {% include navbar.html %}

            <main class="flex-fill">
                <div class="jumbotron jumbotron-404">
                    <div class="row mt-4">
                        <div class="col-sm-12">
                            {{ content }}
			    <hr>
                        </div>
                    </div>
                </div>
            </main>

            <footer class="page-footer font-small">
                <!-- Social Buttons -->
                {% include socialfooter.html %}
                <!-- Copyright -->
                {% include copyright.html %}
            </footer>
        </wrapper>
    </body>

</html>
