<!doctype html>

<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- Font Awsome -->
        <script src="https://kit.fontawesome.com/31fa09e3cc.js"></script>
        <!-- MathJax -->
        <script type="text/javascript" async
                src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
	</script>
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-social.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/social.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/blog.css">
    </head>

    <body>
        <wrapper class="d-flex flex-column">

            <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
                <a class="navbar-brand" href="#">
                {% if page.layout == "post" %}
                    Blog - {{ page.title }}
                {% else %}
                    {{ page.title }}
                {% endif %}
                </a>
                <button class="navbar-toggler" type="button"
                        data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto">
                        {% if page.nav-item-active == "home" %}
                        <li class="nav-item active">
                        {% else %}
                        <li class="nav-item">
                        {% endif %}
                            <a class="nav-link" href="/">HOME</a>
                        </li>
                        {% if page.nav-item-active == "about" %}
                        <li class="nav-item active">
                        {% else %}
                        <li class="nav-item">
                        {% endif %}
                            <a class="nav-link" href="/about">ABOUT</a>
                        </li>
                        {% if page.nav-item-active == "blog" or page.layout == "post" %}
                        <li class="nav-item active">
                        {% else %}
                        <li class="nav-item">
                        {% endif %}
                            <a class="nav-link" href="/blog">BLOG</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="flex-fill">
            {{ content }}
            </main>

            <footer class="page-footer font-small">
                <div class="container text-center pb-2">
                    <a class="btn btn-social-icon btn-google"
                       onclick="window.location.href='mailto:davide.madrisan@gmail.com';">
                       <span class="fa fa-envelope"></span>
                    </a>
                    <a class="btn btn-social-icon btn-github"
                       onclick="window.location.href='{{ site.socials.github }}';">
                       <span class="fa fa-github"></span>
                    </a>
                    <a class="btn btn-social-icon btn-linkedin"
                       onclick="window.location.href='{{ site.socials.linkedin }}';">
                       <span class="fa fa-linkedin"></span>
                    </a>
                    <a class="btn btn-social-icon btn-stackoverflow"
                       onclick="window.location.href='{{ site.socials.stackoverflow }}';">
                    <span class="fa fa-stack-overflow"></span>
                    </a>
                    <a class="btn btn-social-icon btn-twitter"
                       onclick="window.location.href='{{ site.socials.twitter }}';">
                       <span class="fa fa-twitter"></span>
                    </a>
                </div>
                <!-- Copyright -->
                <div class="footer-copyright text-center text-white bg-dark py-3">© 2020. All right reserved.</div>
            </footer>
        </wrapper>
    </body>

</html>
