<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/social.css">
  </head>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <body>
    <nav>
      <ul>
        <li><a href="/" class="btn">Home</a></li>
        <li><a href="/about" class="btn">About</a></li>
        <li><a href="/blog" class="btn">Blog</a></li>
      </ul>
    </nav>
    <div class="container">

      {{ content }}

    </div>

    <footer>
      <ul>
	<li><a href="mailto:davide.madrisan@gmail.com">
            <i class='fa fa-envelope social social-email'></i></a></li>
        <li><a href="https://github.com/madrisan">
            <i class="fa fa-fw fa-github social social-github" style=""></i></a></li>
        <li><a href="https://www.linkedin.com/in/madrisan">
            <i class="fa fa-fw fa-linkedin social social-linkedin" style=""></i></a></li>
        <li><a href="https://twitter.com/dmadrisan">
            <i class="fa fa-fw fa-twitter social social-twitter" style=""></i></a></li>
      </ul>    
    </footer>

  </body>

</html>
