---
layout: default
---

<div class="container pt-4">
    <div class="jumbotron jumbotron-blog">
        <blockquote class="blockquote">
            <h2 class="text-bold mb-0">{{ page.title }}</h2>
            <footer class="blockquote-footer text-dark">
                <small>
                {% if page.location %}
                    {{ page.location }},
                {% endif %}
                {{ page.date | date_to_string }}
                </small>
            </footer>
        </blockquote>
    </div>

    <div class="row pt-0">
        <div class="col">
            {{ content }}
        </div>
    </div>
</div>
