{%- assign _sources = site.sources %}
{%- assign blog_image = page.image | default: site.images.blog.default %}
<!doctype html>

<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta charset="utf-8">
        <meta property="fb:app_id" content="{{ site.socials.facebookappid }}"/>
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:description" content="{{ page.summary }}">
        <meta property="og:site_name" content="Davide Madrisan's Blog">
        <meta property="og:type" content="article">
        <meta property="og:url" content="{{ site.url | append: page.url }}">
{%- if blog_image == site.images.blog.default %}
        <meta property="og:image" content="{{ site.url | append: site.images.blog.defaultsquared }}">
        <meta name="twitter:card" content="summary">
{%- else %}
        <meta property="og:image" content="{{ site.url | append: blog_image }}">
        <meta name="twitter:card" content="summary_large_image">
{%- endif %}
        <meta name="twitter:creator" content="{{ site.socials.twitterid }}">
        <meta name="twitter:site" content="{{ site.socials.twitterid }}">
{%- if page.image_alt %}
        <meta name="twitter:image:alt" content="{{ page.image_alt }}">
{%- endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{{ site.images.favicon }}">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ _sources.bootstrap.css }}">
        <!-- jQuery library -->
        <script src="{{ _sources.jquery }}"></script>
        <!-- Popper JS -->
        <script src="{{ _sources.popper }}"></script>
        <!-- Latest compiled JavaScript -->
        <script src="{{ _sources.bootstrap.js }}"></script>
        <!-- Font Awsome -->
        <script src="{{ _sources.fontawesome }}"></script>
{%- if page.highcharts %}
        <!-- Highcharts -->
        <script type="text/javascript" src="{{ _sources.highcharts.js }}"></script>
        <script type="text/javascript" src="{{ _sources.highcharts.modules.accessibility }}"></script>
        <script type="text/javascript" src="{{ _sources.highcharts.modules.exporting }}"></script>
{%- endif %}
{%- if page.mathjax %}
        <!-- MathJax -->
        <script type="text/javascript" async src="{{ _sources.mathjax }}"></script>
{%- endif %}
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-social.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/social.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/blog.css">
    </head>

    <body>
        <wrapper class="d-flex flex-column">
{% include navbar.html %}
            <main class="flex-fill">

                <div class="jumbotron jumbotron-blog jumbotron-blog-entry"
                     style="background-image: url({{ blog_image }});">
                    <div>
                        <h3 class="text-bold">{{ page.title }}</h3>
                        <small class="text-secondary">
{%- if page.location %}
                            {{ page.location }},
{%- endif %}
                            {{ page.date | date_to_string }}
                        </small>
                    </div>
                </div>

                <div class="container pb-2">
                    <div class="d-flex justify-content-between">
                        <div class="text-secondary">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
{% include readtime.html blog_content=page.content blog_language=page.language %}
                        </div>
                        <div>
{% include sharetosocials.html blog_language=page.language %}
                        </div>
                    </div>
                </div>

                <div class="container pt-2">
                    <div class="row">
                        <div class="col">
                        {{ content }}
                        </div>
                    </div>
                </div>

            </main>

            <footer class="page-footer font-small">
                <!-- Social Buttons -->
{% include socialfooter.html %}
                <!-- Copyright -->
{% include copyright.html %}
            </footer>

        </wrapper>
    </body>

</html>
