---
layout: default
---

<div class="jumbotron jumbotron-blog jumbotron-blog-entry"
     style="background-image: url({{ page.image}});">
    <div>
        <h3 class="text-bold">{{ page.title }}</h3>
        <small class="text-secondary">
            {% if page.location %}
                {{ page.location }},
            {% endif %}
            {{ page.date | date_to_string }}
        </small>
    </div>
</div>

<div class="container pb-2">
    <div class="d-flex justify-content-between text-secondary">
        <div>
            {% include readtime.html blog_content=page.content blog_language=page.language style='small' %}
        </div>
        <div>
            {% include sharetosocials.html blog_language=page.language %}
        </div>
    </div>
</div>

<div class="container pt-2">
    <div class="row">
        <div class="col">
        {{ content }}
        </div>
    </div>
</div>
